.main {
    position: absolute;
    margin-left: 18%;
    /* width: calc(100% -200px); */
}

.form-horizontal.login {
    padding: 100px;
    width: 60%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.admin-title {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 1px;
    color: rgb(175, 135, 4);
    text-transform: uppercase;
}
html{
    position: relative;
    min-height: 100%;
}
.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background: rgb(16, 16, 16);
    /* color: rgba(255, 255, 255, 0.466); */
    color: rgba(175, 135, 4, 0.39);
}
.footer>div>div{
    margin:20px auto;
}
.firstview{
    margin-bottom: 30px;
    min-height: 100%;
}