.history{
    float: right;
    margin-bottom: 10px;
}
#playlists a:hover{
    color:black 
}
#playlists a{
    color:black 
}
.itemplaylistadd {
    cursor: pointer;
}
.itemplaylistadd:hover{
    background-color: darkgrey
}
.itemplaylist:hover{
    background-color: darkgray;
    text-decoration : none;
    cursor: pointer;
}
.sidenav li {
    /* color: white; */
    text-decoration: none;
    /* text-indent: 15px; */
    /* line-height: 20px; */
}
.sidenav li a {
    font-size: 1.2em !important;
    margin-top: 10px;
    color: #123c69 !important;
    padding-left: 0px !important;
}
.sidenav li a:hover{
    color:#4490e2 !important;
}
.sidenav {
    background-color: #f7f9fb !important;
}
.sidebar-nav {
    list-style: none;
 }
 .profile{
    /* position: absolute; */
    margin-top: 0px;
    width: 100%;
    height: 40%;
    margin: 0;
    padding: 0;
    /* background-color: ; */

 }