.history{
    float: right;
    margin-bottom: 10px;
}
#playlists a:hover{
    color:black 
}
#playlists a{
    color:black 
}
.itemplaylistadd {
    cursor: pointer;
}
.itemplaylistadd:hover{
    background-color: darkgrey
}
.itemplaylist:hover{
    background-color: darkgray;
    text-decoration : none;
    cursor: pointer;
}

.sidenav li a {
    font-size: 1.2em !important;
    margin-top: 10px;
  
    padding-left: 0px !important;
}
 .list-group li {
     list-style: none;
 }
 html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
  padding-bottom: 50px;
}
.search-panel{
    position: relative;
    top: 0;
    display: inline-block;
    padding: 3px;
}

.list-group-item.profile {
    background: rgb(238, 152, 30);
}
.list-group-item{
    border-color: rgb(238, 152, 30, 0.2);
}