<div ng-controller="adminCtrl">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand">Admin Application</p>
            </div>
            <!--navbar-brand -->
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href=""> Log out</a></li>
                    <li><a href=""> Go to user page</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <a class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create an account</a>
        <table id="data-table" class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Last Login</th>
                    <th>Videos Watched</th>
                    <th>Playlists</th>
                    <th>Last Research</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td class="rowLink" ng-click="editDialog(user)">
                        {{user._id}} 
                    </td>
                    <td class="rowLink" ng-click="editDialog(user)">
                        {{user.email}}
                    </td>
                    <td>
                        {{user.created_at}}
                        </td>
                    <td>
                        {{user.last_login}}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <new-account></new-account>
    </div>
</div>
<div>

</div>


<script type="text/ng-template" id="editAccount.tmpl.html">
    <md-dialog>
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Account Information</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <i class="fa fa-close fa-2x">X</i>
                        </md-button>
                    </div>
                </md-toolbar>
    
                <md-dialog-content>
                    <div class="md-dialog-content">
                        <h4>{{selectedAccount._id}}</h4>
                        <hr>
                        <form>
                            <div layout="row" layout-align="start center">
                                <div layout="column" flex="30">
                                    <label>Name</label>
                                </div>
                                <div layout="column" flex="70">
                                    <h5>{{selectedAccount.name}}</h5>
                                </div>
                            </div>
                            <div layout="row" layout-align="start center">
                                <div layout="column" flex="30">
                                    <label>Email</label>
                                </div>
                                <div layout="column" flex="70" >
                                    <h5>{{selectedAccount.email}}</h5>
                                </div>
                            </div>
                            <div layout="row" layout-align="start center">
                                <div layout="column" flex="30">
                                    <label>Role</label>
                                </div>
                                <div layout="column" flex="70">
                                    <div class="col-md-8">
                                        <select ng-init="roleSelected=selectedAccount.role_id" ng-model="roleSelected" class="form-control">
                                            <option value="user">User</option>
                                            <option value="admin">Admin</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div layout="row" layout-align="start center">
                                <div layout="column" flex="30">
                                    <label>Status</label>
                                </div>
                                <div layout="column" flex="70">
                                    <div class="col-md-8">
                                        <select ng-init="statusSelected=selectedAccount.status" name="status-group" id="status-group"
                                            ng-model="statusSelected" class="form-control">
                                            <option value="active">Active</option>
                                            <option value="desactive">Desactive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                </md-dialog-content>
                <hr>
    
                <md-dialog-actions layout="row" style="margin-top: 20px" layout-align="space-between center">
                    <!-- <span flex></span> -->
                    <md-button class="md-primary md-raised" ng-click="update()">
                        Update
                    </md-button>
                    <md-button ng-click="cancel()" style="margin-right:20px;">
                        Cancel
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>

</script>
<style>
    .container {
        color: white;

    }

    .btn {
        float: right;
        margin-top: 10px;
        margin-bottom: 10px;
        color: black;
    }

    .rowLink {
        cursor: pointer;
    }

    .rowLink:hover{
        text-decoration: underline;
    }
    /* tr:hover td {
        text-decoration: underline;
    } */
</style>